@media screen and (max-width: 768px) {
  .banner {
    background: url('@/assets/images/agreement/m/banner.png') no-repeat center;
    background-size: cover;
    height: 48.75rem;
    padding-top: 19rem;
    .title {
      font-size: 7.5rem;
    }
    .line-right {
      border-top: 2px solid;
      margin-top: 5.5rem;
      width: 20rem;
      border-image: linear-gradient(
          90deg,
          rgba(216.00000232458115, 216.00000232458115, 216.00000232458115, 1),
          rgba(216.00000232458115, 216.00000232458115, 216.00000232458115, 0)
        )
        2 2;
    }
    .line-left {
      border-top: 2px solid;
      margin-top: 5.5rem;
      width: 20rem;
      border-image: linear-gradient(
          90deg,
          rgba(216.00000232458115, 216.00000232458115, 216.00000232458115, 0),
          rgba(216.00000232458115, 216.00000232458115, 216.00000232458115, 1)
        )
        2 2;
    }
  }
  .block1 {
    background: url('@/assets/images/agreement/m/block1-bg.png') no-repeat
      center;
    background-size: cover;
  }

  .block2,
  .block3,
  .block4 {
    table {
      th {
        color: white;
        background: linear-gradient(180deg, #006aff 0%, #1161d1 99%);
        border-right: 1px solid #f4f4f4;
        border-bottom: 1px solid #f4f4f4;
      }

      td {
        padding: 0 2rem;
        font-size: 3rem;
        background: #fff;
        border-right: 1px solid #f4f4f4;
        border-bottom: 1px solid #f4f4f4;
        &:nth-of-type(1) {
          text-align: center;
          font-size: 3.75rem;
          font-weight: 700;
        }
      }
      tr:nth-of-type(2) td {
        background: #f4f7f9;
      }
    }
  }
  .block3,
  .block4 {
    table {
      td {
        text-align: center;
      }
    }
  }

  .block4 {
    tr {
      height: 10rem;
    }
  }

  .block5 {
    background: url('@/assets/images/agreement/m/block5-bg.png') no-repeat
      center;
    background-size: cover;
    padding: 0 4rem;
    width: 100%;
    height: 90.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .content {
      padding-top: 0;
      font-size: 4.5rem;
    }
  }
  .advantage6 {
    padding: 5rem 4rem;
    font-size: 4rem;
    .title {
      font-size: 6rem;
    }
    .wrapper {
      flex-wrap: wrap;
      gap: 3.5rem;
      text-align: center;
      justify-content: start;
      .description-item {
        background: linear-gradient(180deg, #2c64ff 0%, #3b81fe 100%);
        flex-direction: column;
        gap: 1rem;
        height: auto;
        width: 26.25rem;
        padding: 4rem;
        .main {
          font-weight: 700;
        }
        .sub {
          font-size: 3.25rem;
        }
      }
    }
  }
  .advantage7 {
    background: url('@/assets/images/about/m/download-bg.png') no-repeat center;
    background-size: cover;
    padding: 5rem 4rem;
    height: 69rem;
    .title {
      font-size: 6rem;
      width: 48rem;
      margin: auto;
    }
    .wrapper {
      flex-wrap: wrap;
      gap: 2rem;
      margin-top: 5rem;
      .download-item {
        min-width: 167px;
        padding: 0 1rem 0 4rem;
        flex: 1;
        height: 17rem;
        gap: 2.5rem;
        border-radius: 2.5rem;
        img {
          width: 12rem;
        }
        .main-content {
          font-size: 3.5rem;
        }
        .sub-content {
          font-size: 3rem;
          color: #808080;
        }
      }
    }
  }
}
