@media screen and (max-width: 768px) {
  .banner {
    background: url('@/assets/images/home/m/banner2.png') no-repeat center;
    background-size: cover;
    height: 48.75rem;
    padding: 5rem;
  }

  .block3 {
    width: 100%;
    padding: 15rem 4rem;
    margin-top: 0;
    margin-bottom: 0;
    .title {
      font-size: 4.5rem;
    }
    .content {
      font-size: 3.5rem;
    }
  }
  .advantage7 {
    background: url('@/assets/images/about/m/download-bg.png') no-repeat center;
    background-size: cover;
    padding: 5rem 4rem;
    height: 69rem;
    .title {
      font-size: 6rem;
      width: 48rem;
      margin: auto;
    }
    .wrapper {
      flex-wrap: wrap;
      gap: 2rem;
      margin-top: 5rem;
      .download-item {
        min-width: 167px;
        padding: 0 1rem 0 4rem;
        flex: 1;
        height: 17rem;
        gap: 2.5rem;
        border-radius: 2.5rem;
        img {
          width: 12rem;
        }
        .main-content {
          font-size: 3.5rem;
        }
        .sub-content {
          font-size: 3rem;
          color: #808080;
        }
      }
    }
  }
}
