@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    padding: 5rem 4rem;
  }
  .title {
    width: 100%;
    font-size: 6rem;
  }
  .sub {
    font-size: 3.5rem;
    margin-top: 1.5rem;
  }
  .des{
    font-size: 3.25rem;
  }
  p {
    font-size: 3.5rem;
  }
}
